* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: rgb(65, 166, 255);

  font-weight: bold;
}

.indLogoFont {
  font-family: "Josefin Sans", sans-serif;
}

.color-palette {
  color: #15202b;
  color: #192734;
  color: darkblue;
  color: rgb(40, 104, 160);
  color: rgb(52, 134, 206);
  color: rgb(65, 166, 255);
  color: #4cb4c7;
  color: #7cd1c0;
  color: #c2fef7;
  color: #008e7c;
  color: rgb(58, 58, 133);
  color: slateblue;
  color: #ae57ff;
  color: #c412c4;
  color: violet;
  color: #f995f9;
  color: #ffd7ff;
  color: #f99595;
}

.fonts {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
}
